* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background: rgba(15, 15, 25, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
*/
#workspaces button:hover {
    background: transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#idle_inhibitor,
#power-profiles-daemon{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#battery.charging, #battery.plugged {
    /*color: #ffffff;*/
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging){
    color: #FFD07B;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #f53c3c;
    /*color: #ffffff;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
